@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Great+Vibes&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.invitation-card {
    height: calc(100vh - 100px);
    width: 600px;
    margin: 0 auto 10px auto;
    background-image: url("/src/assets/images/esther_3.jpg");
    background-size: cover;
}

.heading {
    font-family: 'Great Vibes', cursive;
    font-size: 3.7rem;
    text-align: center;
    color: deeppink;
    text-shadow: 2px 2px 4px whitesmoke;
}

@media screen and (max-width: 500px) {
    .invitation-card {
        width: calc(100vw - 50px);
        margin: auto;
    }

    .heading {
        font-size: 2.7rem;
    }
}
